body {
    max-width: 1280px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:auto;
  }

header {
    background-color: #114B5F;
    color: aliceblue;
    text-align: center!important;
}

main {
    display: inline-flex;
    justify-content: space-between;
    margin: 20px;
}

#currentWeatherDetail, #currentWeatherHeader {
    margin-left: 10px;
}

#currentWeatherDetail {
    border: 1px solid black;
}

#search {
    margin-right: 25px;
}

#searchButton {
    margin-top: 10px;
    margin-bottom: 5px;
}

#clrBtn {
    margin-top: 5px;
}

.cityBttn {
    color: black;
    background-color: cadetblue;
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 2em;
    box-sizing: border-box;
    margin-top: 0.75em;
}

#searchBox input {
    width: 100%;
    height: 2em;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding-left: 0;
    overflow: auto;
    border-top: .5px solid black;
    margin-top: 5px;
}

#disp {
    margin-right: 40px;
}

#forecastedDays {
    display: flex;
    justify-content: space-between;
}

.fiveDayCard {
    background-color: #9da3a4;
    color: black;
    box-sizing: border-box;
    padding: 15px;
}

.footerbg {
    background-color: #db7f8e;
    color: black;
    text-align: center;
    margin-top: 15px;
    padding: 15px 15px 15px 15px;
}